body {
  background-image: -ms-linear-gradient(bottom, #000000 0%, #C0C0C0	 100%);
  text-align: center;
  margin:auto;
  font-family:Castellar
}
.audiopicker {
  width: auto;
  }
  .picker1 .picker2 {
    -webkit-appearance: none;
    appearance: none;
    height:10px;
    background: linear-gradient(to right, indigo 10px, violet 90px);
  }
  .slidecontainer {
    width: 50%;
      }
