body {
  background-image: -ms-linear-gradient(bottom, #000000 0%, #C0C0C0	 100%);
  text-align: center;
  margin:auto;
  font-family:Castellar
}
.audiopicker {
  width: auto;
  }
  .picker1 .picker0 {
    -webkit-appearance: none;
    appearance: none;
    height:10px;
    background: linear-gradient(to right, indigo 10px, violet 90px);
  }
  .slidecontainer {
    width: 50%;
    }

.containers {
  float:left;
  width:50%;

}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}
